/* RESOLUCIÓN DESKTOP 1440px */

/* REGLAS-GENERALES */

body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;

}

.button-general {
    background-color: #8B48BF;
    color: #FFFFFF;
    border: 0;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    width: 134px;
    height: 44px;
}

.button-general:hover {
    opacity: 70%;
    cursor: pointer;
}


/* COMIENZO-DEL-HEADER */

header {
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

header nav {
    display: flex;
    flex-direction: row;
}

header nav a {
    text-decoration: none;
    padding: 1rem;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #242E52;
    display: flex;
    align-items: center;
}

header nav a:hover {
    opacity: 70%;
    cursor: pointer;
}

header nav a:link {
    text-decoration: none;
}

header nav a:visited {
    text-decoration: none;
}

.burger {
    display: none;
}

/* FIN-DEL-HEADER */

/* COMIENZO-SECTION-UNO */

.section-uno {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 110px;
}

.div-section-uno {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.div-section-uno h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 66px; 
    display: flex;
    align-items: center;
    letter-spacing: -0.035em;
    color: #232C50;
    margin-bottom: 10px;
}

.div-section-uno p {
    font-style: normal;
    font-weight: 500;
    font-size: 16.5584px;
    line-height: 157.1%;
    display: flex;
    align-items: center;
    color: #000000;
    width: 60%;
    margin-bottom: 30px;
}

/* FIN-SECTION-UNO */

/* COMIENZO-SECTION-DOS*/

.section-dos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: -50px;
}

/* IZQUIERDA */
.section-dos-div-izquierdo {
    display: flex;
    flex-direction: column;
    width: 55%;
    margin-left: 110px;
}

.section-dos-div-izquierdo h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #232851;
    width: 70%;
}

.section-dos-div-izquierdo p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
    width: 50%;
    
}

/* DERECHA */

.section-dos-div-derecho {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-right: 110px;
    margin-top: 25px;
}

.contenedores {
    display: flex;
    flex-direction: column;

}

.contenedor-titulo {
    display: flex; 
    flex-direction: row
}

.contenedor-titulo h4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    background: #8B48BF;
    border-radius: 30px;
    margin-right: 20px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
}

.contenedor-titulo h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    color: #323851;
}

.contenedores p {
    font-style: normal;
    font-weight: 500;
    font-size: 16.2984px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    color: #B3B2B7;
    margin-left: 90px;
    margin-top: -10px;
    padding-right: 65px;
}

/* FIN-SECTION-DOS */

/* COMIENZO-SECTION-TRES */ 

.section-tres {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-cards {
    font-style: normal;
    font-weight: 700;
    font-size: 39.2143px;
    line-height: 156.6%;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    color: #242E53;
    margin: 70px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin: 40px 0px;
}

.cards article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: FAFAFA;
    width: 30%;
}

.cards article img {
    position: relative;
    bottom: 35px;
}

.cards article h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 16.0714px;
    line-height: 156.6%;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    color: #3F4868;
    position: relative;
    bottom: 35px;
}

.cards article p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 156.6%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #B9B9C1;
    position: relative;
    bottom: 45px;
}

.hidden {
    position: relative;
    top: 10px;
}

.section-tres button {
    margin-bottom: 200px;
}

/* FIN-SECTION-TRES*/

/* COMIENZO-SECTION-CUATRO */

.section-cuatro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #8B48BF;
    width: 100%;
    height: 20vh;
}

.section-cuatro h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;
    letter-spacing: -0.005em;
    color: #FFFFFF;
    margin-left: 150px;
    width: 35%;
}

#button-unico {
    background-color: #FFFFFF;
    color: #8B48BF;
    border: 0;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    width: 134px;
    height: 44px;
    margin-right: 150px;
}

#button-unico:hover {
    opacity: 70%;
    cursor: pointer;
}

/* FIN-SECTION-CUATRO */

/* COMIENZO-FOOTER */

footer {
    background-color: #1E1E26;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 25vh;
    width: 100%;
    margin: 0%;
    padding: 0%;
}

/* REDES-IZQUIERDA */
.redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 35%;
}

.redes a {
    color: #1E1E26;
}

.redes-abajo img {
    margin: 7.5px;
}

/* NAV-DEL-FOOTER */
.nav-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 100px;
    width: 35%;
    height: auto;
}

.nav-footer ul {
    list-style: none;
}

.nav-footer li {
    padding: 10px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    color: #FFFFFF;
}

.nav-footer li:hover {
    opacity: 80%;
    cursor: pointer;
}

#sda-parte {
    position: relative;
    bottom: 20px;
}
/* FORM-FOOTER */

.form-copyright {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.form-copyright input {
    padding: 15px 20px;
    border-radius: 50px;
    font-size: 16px;
    margin: 0px;
}

.button-form {
    background-color: #8B48BF;
    color: #FFFFFF;
    border: 0;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    width: 70px;
    height: 53px;
    margin: 0%;
}

.button-form:hover {
    opacity: 70%;
    cursor: pointer;
}

.copyright-desktop {
    font-style: normal;
    font-weight: 500;
    font-size: 12.5px;
    line-height: 18px;
    color: #8C8C94;
    position: relative;
    display: flex;
    justify-content: center;
}

.copyright-mobile {
    display: none;
    margin: 0%;
    padding: 0%;
}

/* FIN-FOOTER */

/* COMIENZO-MOBILE */

@media (max-width:480px) {

    body {
        width: 480px;
    }

/* -HEADER- */

    header {
        justify-content: space-between;
        margin: 0px 20px;
    }

    header nav {
        display: none;
    }

    header button {
        display: none;
    }

    .burger {
        display: block;
    }


    main {
        width: 480px;
        margin: 0%;
        padding: 0%;
    }
/* SECTION-UNO */ 


    .section-uno {
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
        margin: 100px 0px;
    }

    .div-section-uno {
        justify-content: center;
        align-items: center;
        width: 95%;
        margin: 2.5%;
    }

    .div-section-uno h1 {
        text-align: center;
    }

    .div-section-uno p {
        width: 80%;
        text-align: center;
        margin-bottom: 15px;
    }

.section-uno img {
    width: 90%;
    margin: 5%;
}

/* SECTION-DOS */

    .section-dos {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .section-dos-div-izquierdo {
        width: 90%;
        margin: 10%;
        text-align: center;
        align-items: center;
    }

    .section-dos-div-izquierdo h3 {
        width: 100%;
    }

    .section-dos-div-izquierdo p {
        width: 80%;
        margin: 0px ;
    }

    .section-dos-div-derecho {
        width: 100%;
        margin: 0px;
    }

    .contenedores {
        width: 100%;
        gap: 21px;
    }

    .contenedor-titulo {
        margin-left: 30px;
        background-color: #8B48BF4D;
        padding: 0px;
        border-radius: 50px 0px 0px 50px;
    }

    .contenedor-titulo h5{
        margin: 0px 15px;
        padding: 0px;
    }

    .contenedor-titulo h4 {
        margin: 0px 
    }

    .contenedores p {
        margin: 0px;
        margin-bottom: 21px;
        padding: 0px 7%;
        align-items: center;
        justify-content: center;

    }

    /* SECTION-3 */

    .section-tres {
        width: 100%;
    }

    .cards {
        width: 100%;
        margin: 20px 0px 0px 0px;
    }

    #card1 {
        display: none;
    }

    #card2 {
        width: 80%;
    }

    #card3 {
        display: none;
    }

    .cards button {
        position: relative;
        top: 20px;
    }

/* SECTION-4 */

.section-cuatro {
    width: 480px;
    height: 350px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px;
}

.section-cuatro h2 {
    width: 70%;
    height: 40%;
    margin: 20px 0px;
    text-align: center;
}

#button-unico {
    align-items: center;
    margin: 0px;
}

/* -FOOTER- */ 

footer {
    flex-direction: column-reverse;
    align-items: center;
    height: 100%;
}

.form-copyright {
    width: 100%;
    margin-top: 40px; 
    margin-bottom: 25px;
}

.copyright-desktop {
    display: none;
}

.nav-footer {
    align-items: center;
    justify-content: space-evenly;
    padding: 0px;
    width: 80%;
    margin: 10px 20px;
    gap: 0px;
}

.redes {
    flex-direction: column-reverse;
    width: 100%;
    gap: 25px;
}

.redes-abajo img {
    margin: 25px;
}

.copyright-mobile {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 12.5px;
    line-height: 18px;
    color: #8C8C94;
    margin-bottom: 25px;
}

}
/* FIN-MOBILE */

html {
    margin: px;
}